/* gonna refactoring all many times anyway ;) */

.single-post-wrapper {
    width: 100%;
    border: 1px solid #eee;
    margin-bottom: 32px;
}
.single-post {
    padding: 8px 32px;
    color: #212a34;
    flex-wrap: wrap;
    width: 100%;
}
.single-post__info, .prelude__few-words-n-song{
    display: flex;
    justify-content: space-between;
}
.single-post__header {
    font-weight: 200;
    font-size: 1.5em;
    letter-spacing: -.075em;
    line-height: 1;
    margin: .25em 0 .75em;
    -o-transition: color 0.25s ease-in;
    -webkit-transition: color 0.25s ease-in;
    -moz-transition: color 0.25s ease-in;
    transition: color 0.25s ease-in;
}
.single-post-wrapper:hover .single-post__header {
    text-decoration: underline;
    color: #b59b4a;
}
.single-post__link {
    text-decoration: none;
    cursor: pointer;
    outline: none;
}
*, :after, :before {
    box-sizing: border-box;
}
.main-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%;
    margin: 0;
    font-family: sans-serif;
}
.main-wrapper__header, .main-wrapper__footer {
    -webkit-box-flex: 0;
    -webkit-flex: none;
    -ms-flex: none;
    flex: none;
}
.header {
    padding: 1.5em;
    background-color: #212a34;
    text-align: center;
}
.header__search {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    font-size: .9em;
    position:relative;
    padding:0;
    margin:0;
}
.header__greeting {
    margin: 0 0 1.5em;
    font-size: 1.5em;
    font-weight: 200;
    white-space: nowrap;
    color: #fff0f5;
    font-family: 'Italianno', cursive;
    cursor: pointer;
}
.header__label {
    color: #b59b4a;
    font-family: Georgia,Times,Times New Roman,serif;
}
.main-wrapper__content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 1.5em 0 1.5em 1.5em;
}
.content__article {
    margin-top: 1.5em;
    font-family: Georgia,Times,Times New Roman,serif;
}
.content__navbar {
    padding: 1em 0 1em 1em;
    border-radius: 3px;
}
.navbar-list {
    padding: 0;
    margin: 0;
    list-style-type: none;
    border-left: 1px solid #eee;
    border-bottom: 1px solid #eee;
}
.navbar-list__item {
    text-align: left;
    list-style: none;
    border-top: 1px solid #eee;
    height: 59px;
}
.navbar-list__link {
    height: 59px;
    line-height: 60px;
    display: block;
    text-indent: 30px;
    color: #999999;
    cursor: pointer;
    outline: none;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 12px;
    letter-spacing: 2px;
    -o-transition: color 0.25s ease-in;
    -webkit-transition: color 0.25s ease-in;
    -moz-transition: color 0.25s ease-in;
    transition: color 0.25s ease-in;
}
.navbar-list__link:hover, .active {
    color: #1e1b1d;
}
.footer {
    padding: 24px;
    padding: 1.5rem;
    background: #212a34;
    color: #999999;
    font-size: .85em;
    text-align: center;
}
.article__header {
    font-weight: 200;
    font-size: 2em;
    letter-spacing: -.075em;
    line-height: 1;
    margin: .25em 0;
}
.article__subtitle {
    font-weight: 100;
    font-size: 1.5em;
    letter-spacing: -.075em;
    line-height: 1;
    margin: .25em 0 .5em;
}
.article__link {
    border-bottom: 1px dashed rgba(70,185,128,.5);
    color: #46b980;
    text-decoration: none;
    cursor: pointer;
    outline: none;
}
.article__link:hover {
    border-bottom: 1px solid rgba(70,185,128,1);
}
.article__link-audio {
    font-family: 'Italianno', cursive;
    font-size: 2.5em;
}
.article__self-center {
    align-self: center;
}
.search__image {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
}
.search__field {
    border: 1px solid hsla(30,15%,50%,.25);
    padding: .5em .75em;
    padding-right: 30px;
    outline: none;
}
.search__field:not(:first-child) {
    border-left: 0;
}
.search__field:last-child {
    border-radius: 0 2px 2px 0;
}
.article__prelude {
    margin: .25em 0 .75em;
}
@media all and (min-width: 768px) {
  .header {
    padding: 1.5em;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
}
@media all and (min-width: 768px) {
  .header, .header__title {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}
@media all and (min-width: 768px) {
  .header__title {
    -webkit-box-align: baseline;
    -webkit-align-items: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
  }
}
@media all and (min-width: 384px) {
  .header__search {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}
@media all and (min-width: 768px) {
  .header__search {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    font-size: .9em;
  }
}
@media all and (min-width: 768px) {
  .header__label {
    font-weight: 200;
    letter-spacing: -.095em;
    font-size: 1.5em;
  }
}
@media all and (min-width: 768px) {
  .header__greeting {
    margin: 0 0 0 2em;
    font-size: 1.7em;
    letter-spacing: 0.07em;
    font-weight: 300;
  }
}
@media all and (min-width: 768px) {
  .main-wrapper__content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
}
@media all and (min-width: 768px) {
  .content__article {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 0 2em;
    margin: 0;
  }
}
@media all and (min-width: 768px) {
  .content__navbar {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 17em;
    -ms-flex: 0 0 17em;
    flex: 0 0 17em;
  }
}
@media all and (min-width: 768px) {
  .article-header {
      font-size: 2.5em;
      margin: .5em 0 1em;
  }
}
