/* gonna refactoring all many times anyway ;) */

html {
    height: 100%;
    box-sizing: border-box;
}
.main-wrapper {
    margin: 0;
    display: flex;
}
.wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: column wrap;
  text-align: center;
  max-width: 900px;
  width: 100%;
  margin: 1% auto 0;
}
.wrapper__section {
  display: flex;
  flex: 1;
}
.wrapper__header {
  border: 1px solid #8b0000;
  max-height: 50px;
  flex: 1;
}
.wrapper__footer {
  border: 1px solid #8b0000;
  max-height: 50px;
  flex: 1;
}
.article {
  border: 1px solid #8b0000;
}
.article__header {
  margin: 0;
  padding: 10px;
  color: #8b0000;
}
.section__aside {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  border-left: 3px solid #8b0000;
}
.navbar-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.navbar-list__link {
  display: block;
  float: none;
  color: #8b0000;
  font-size: 20px;
  text-decoration: none;
}
.navbar-list__link:hover {
  text-decoration: underline;
}
@media all and (min-width: 600px) {
  .wrapper__section {
    flex-direction: column;
  }
  .article {
    flex: 4;
    order: 2;
  }
}
@media all and (min-width: 800px) {
  .article {
    flex: 4;
  }
  .section__aside {
    order: 2;
  }
  .wrapper__section {
      flex-direction: row;
  }
}
