/* gonna refactoring all many times anyway ;) */

*, :after, :before {
  box-sizing: border-box;
}

html {
  height: 100%;
  color: #404040;
  font: 400 1em/1.4 'Open Sans',sans-serif;
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}
.main-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
  margin: 0;
}
.main-wrapper__header, .main-wrapper__footer {
  -webkit-box-flex: 0;
  -webkit-flex: none;
  -ms-flex: none;
  flex: none;
}
.header {
  padding: 1.5em;
  background-color: hsla(30,15%,50%,.1);
  text-align: center;
}
.header-search {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  font-size: .9em;
}
.header-greeting {
  margin: 0 0 1.5em;
  font-size: .8em;
  font-weight: 300;
  white-space: nowrap;
}
.main-wrapper__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 1.5em 0 1.5em 1.5em;
}
/*.main-wrapper__content:after {
  content : '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url('rain.jpg');
  width: 100%;
  height: 100%;
  opacity : 0.3;
  z-index: -1;
}*/
.content-article {
  margin-top: 1.5em;
}
.content-navbar {
  padding: 1em 0 1em 1em;
  border-radius: 3px;
}
.navbar-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  border-left: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
.navbar-list__item {
  text-align: left;
  list-style: none;
  border-top: 1px solid #eee;
  height: 49px;
}
.navbar-list__link {
  height: 49px;
  line-height: 50px;
  display: block;
  text-indent: 30px;
  color: #999999;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 12px;
  letter-spacing: 2px;
}
.navbar-list__link:hover {
  color: #1e1b1d;
  -o-transition: color 0.25s ease-in;
  -webkit-transition: color 0.25s ease-in;
  -moz-transition: color 0.25s ease-in;
  transition: color 0.25s ease-in;
}
.footer {
  padding: 24px;
  padding: 1.5rem;
  background: #212a34;
  color: #999999;
  font-size: .85em;
  text-align: center;
}
@media all and (min-width: 768px) {
  .header {
    padding: 1.5em;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
}
@media all and (min-width: 768px) {
  .header, .header-title {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}
@media all and (min-width: 768px) {
  .header-title {
    -webkit-box-align: baseline;
    -webkit-align-items: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
  }
}
@media all and (min-width: 384px) {
  .header-search {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}
@media all and (min-width: 768px) {
  .header-search {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    font-size: .9em;
  }
}
@media all and (min-width: 768px) {
  .header-greeting {
    margin: 0 0 0 2em;
    font-size: .8em;
    font-weight: 300;
    color: #999999;
  }
}
@media all and (min-width: 768px) {
  .main-wrapper__content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
}
@media all and (min-width: 768px) {
  .content-article {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 0 2em;
    margin: 0;
  }
}
@media (min-width: 768px) {
  .content-navbar {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 17em;
    -ms-flex: 0 0 17em;
    flex: 0 0 17em;
  }
}
